
  @import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@200;800&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-text-color: #183b56;
    --secondary-text-color:#577592;
    --accent-color:#2294ed;
    --accent-color-dark:#1d69a3;
    --padding-inline-section:20px;
}
body{
    font-family:'Times New Roman', Times, serif;
    /* color: var(--primary-text-color); */
    font-weight: bold;
    background-color: #fffcfcb5;
}

p{
    font-family:'Newsreader', serif ;
    color:black;
    line-height: 1.5rem;;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;

}
.container
{
    max-width: 1180px;
    /* max-height: 100px; */
    margin-inline:auto;
    overflow: hidden;
}
/* .mainHeading
{
    text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #b6bb87f9;
        padding: 16px;
        z-index: 99;
      
     
} */
.mainHeading
{
    text-align: center;
 
}
.mainHeading h5{
    font-size: 1.4rem;
    margin-bottom: 5px ;
}

nav{
    background-color:white;
    box-shadow: 0 0 5px #050e00;
    position:sticky;
    top: 0px;
    z-index: 100;
    left: 0;
    right: 0;
    height: 100px;
    padding: 10px;
}
/* nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
} */

.nabvar-links ul{
    gap: 16px;
}
.hover-link
{
    cursor: pointer;
}
.hover-link:hover
{
    color:red;
        /* background-color:black; */
}

/* .hover-link:active
{
   color: rgb(255, 217, 0);
} */
.nav-item.active{
    color:rgb(25, 0, 255)
}
.main-navbar
{
    justify-content: space-between;
    padding-block: 8px;
}
.company-logo-img img
{
    width: 80px;

}
.search-bar

{
   height: 32px;
   display: flex;
   gap: 8px;

}
.news-input
{
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 10px;
    border: 2px solid red;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    
}

.search-btn 
{
    background-color: white;
    cursor: pointer;
    color:black;
    border: 2px solid red;
    border-radius: 10px;
    padding: 8px 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;

}
.search-btn:hover{
    background-color: rgb(244, 34, 11);
}

main{
    padding-block: 20px;
    margin-top: 55px;
}
.cards-container 
{
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 20px;
   align-items: start; 
}
.card{
    width: 370px;
    min-height: 500px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    transition: all 0.3s ease;
}
.card:hover
{
    box-shadow: 1px 1px 8px #3e7099;
    background-color:#33699f;
    cursor: pointer;
    color: rgb(242, 238, 238);
    transform: translateY(-2px);
}
.card p:hover
{
    color: white;
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.card-header img:hover{
   
    /* width: 350px;
    height: 155px; */
    transform: scale(1.2);
}

/* .news-description:hover
{
    color: rgb(110, 84, 84);
} */
.card-content 
{
    padding: 12px;
}

.news-source
{
    margin-block: 12px;
}

footer {
    background-color: #eaecee;
    color: black;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    font-size: 24px;
    
  }

